parameters:
    level: 5
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::get#'
        - '#Call to static method random\(\) on an unknown class Str#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Collection#'
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable#'
